/**
 * style.css
 */

/**
 * Variables
 */
:root {
    --white: #ffffff;
    --gray: #a2a2a2;
    --pink: #e71969;
    --pink-dark: #991e5f;
    --orange: #f56306;
    --orange-dark: #ff2400;
    --black-op-85: rgba(0, 0, 0, 0.85);
}


body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    margin: 0;
}

.container {
    width: 60%;
    margin: auto;
}

.bold {
    font-weight: bold;
}

/**
 * Barre de navigation
 */
nav {
    /* La dernière valeur correspond à l'opacité de la couleur */
    background-color: var(--black-op-85);
    text-transform: uppercase;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

/* L'espace est similaire à "à l'intérieur" */
nav .container {
    display: flex;
    justify-content: space-between; /* Horizontal */
    align-items: center; /* Vertical */
    height: 65px;
}

nav .container a {
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
}

nav .container ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav .container ul a {
    opacity: 0.5;
    transition: opacity 500ms;
}

nav .container ul a:hover {
    opacity: 1;
    transition: opacity 500ms;
}

/**
 * Header
 */
header {
    background: linear-gradient(to right, var(--pink), var(--orange));
    color: var(--white);
    text-align: center;
    padding: 215px 0;
}

header h1 {
    margin: 0;
    font-size: 6em;
}

header h2 {
    font-size: 4em;
    margin-top: 10px;
    margin-bottom: 80px;
}

header .btn {
    color: var(--white);
    text-transform: uppercase;
    text-decoration: none;
    background-color: var(--pink-dark);
    padding: 30px 45px; /* 1er : haut et bas, 2ème : droite et gauche */
    border-radius: 100px;
    letter-spacing: 0.2em;
    transition: background-color 500ms;
}

header .btn:hover {
    background-color: var(--orange-dark);
    transition: background-color 500ms;
}

/**
 * Sections
 */
main section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 150px; /* Espacement entre les colonnes */
    margin: 150px 0;
}

main section h3 {
    font-size: 4em;
    font-weight: lighter;
    margin: 0;
}

main section img {
    width: 40%;
    border-radius: 100%;
}

/**
 * Footer
 */
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--gray);
    border-top: 1px solid var(--gray);
}





